# ls
alias ls='ls --color=tty --group-directories-first --human-readable'
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
# Nice ones
alias python="python3"
alias py="python3"
alias goto="source"
alias ..="cd .."
alias :q="exit"
alias :Q="exit"
alias play="pw-play"
alias chx="chmod +x"
alias valias="vim $HOME/.aliases"
alias view="qimgv"
alias count="cloc"
alias background="feh --no-fehbg --bg-fill"
alias backgroundscale="feh --no-fehbg --bg-scale"
alias silev="silent evince"
alias linutil="curl -fsSL https://christitus.com/linux | sh"
# Monitor
alias monitor="mons"
# Finding files
alias fa="fd --type f --hidden --exclude anaconda3 --exclude R --exclude x86_64-pc-linux-gnu-library --exclude go --exclude .TinyTex --exclude .local --exclude .config/google-chrome --exclude .opam --exclude .cargo --exclude .local/share --exclude .cache --exclude .local/pipx --exclude .git --exclude .npm --exclude .nvm --base-directory $HOME --search-path $HOME | fzf --print0 | xargs -0 -o nvim"
alias f="fd --type f --hidden --exclude anaconda3 --exclude R --exclude x86_64-pc-linux-gnu-library --exclude go --exclude .TinyTex --exclude .local --exclude .config/google-chrome --exclude .opam --exclude .cargo --exclude .local/share --exclude .cache --exclude .local/pipx --exclude .git --exclude .npm --exclude .nvm | fzf --print0 | xargs -0 -o nvim"
# GPU
alias prime-run="__NV_PRIME_RENDER_OFFLOAD=1 __GLX_VENDOR_LIBRARY_NAME=nvidia"
alias nvidiaoff="sudo envycontrol -s integrated"
alias nvidiahybrid="sudo envycontrol -s hybrid"
# Shutdown/reboot
alias shutdown="sudo shutdown"
alias poweroff="sudo shutdown now"
alias off="sudo shutdown now"
alias reboot="sudo reboot"
alias suspend="systemctl suspend &"
# syncing with Onedrive
alias syncy="onedrive --sync"
alias syncoff="onedrive --sync && poweroff"
alias syncreboot="onedrive --sync && reboot"
# Gammastep (blue light filter)
alias night="gammastep -m randr -P -O"
alias nighty="gammastep -m randr -P -O 2800"
alias nightmax="gammastep -m randr -P -O 1000"
alias nightlight="gammastep -m randr -P -O 4100"
alias nightoff="gammastep -m randr -P -O 6500"
# Dotnet
alias bld="dotnet msbuild"
alias rn="bin/Debug/net8.0/$(basename "$PWD")"
# Neovim
alias vim='nvim'
alias vi='nvim'
alias v='nvim'
alias im='nvim'
alias i='nvim'
alias sv='sudo nvim'
alias svi='sudo nvim'
alias svim='sudo nvim'
# Git
alias g="git"
alias gs="git status"
alias gp="git push"
alias gpo="git push origin"
alias gpom="git push origin master"
alias gpuom="git push -u origin master"
alias gpu="git pull"
alias ga="git add"
alias gaa="git add --all"
alias gc="git commit --verbose"
alias glo="git log --pretty=oneline"
# Git for my dotfiles
alias dotgit="/usr/bin/git --git-dir=$HOME/Git/dotfiles-xx/ --work-tree=$HOME"
alias d="dotgit"
alias ds="dotgit status"
alias da="dotgit add"
alias dc="dotgit commit --verbose"
alias dp="dotgit push"
alias dpom="dotgit push origin master"
alias dpu="dotgit pull"
# Tmux
alias t="tmux"
alias ta="tmux attach"
alias tl="tmux ls"
alias tls="tmux ls"
alias tk="tmux kill-server"
# Bluetooth
alias bluebuds="sudo bluetoothctl connect 40:5E:F6:6D:CE:9E"
# Anaconda
alias cona='eval "$(/home/vic/.local/anaconda3/bin/conda shell.zsh hook)"; conda activate'
alias cond="conda deactivate"
# My browser of choice
alias browser="google-chrome-stable"
# Updating, upgrading and cleaning
alias upd="sudo apt update"
alias upg="sudo apt upgrade"
alias aptin="sudo apt install"
alias aptupg="apt list --upgradable"
alias clean="sudo apt autoremove -y"
# Neofetch with lolcat
alias neofetchlol="neofetch | lolcat"
# Starting Express app
alias express-start="DEBUG=$(basename $PWD):* npm start"
alias express-devstart="DEBUG=$(basename $PWD):* npm run devstart"
# Pandoc
alias mdtopdf="pandoc --from=markdown --to=pdf -o pdf.pdf"
alias mdtohtml="pandoc --from=markdown --to=html -o html.html"
# Markdown
alias md="glow"
