# ls
alias ls='ls -l --color=tty --group-directories-first --human-readable'
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
# Nice ones
alias python="python3"
alias py="python3"
alias goto="source"
alias :q="exit"
alias :Q="exit"
alias play="pw-play"
alias chx="chmod +x"
alias valias="vim $HOME/.aliases"
alias view="qimgv"
alias count="cloc"
alias wp="feh --no-fehbg --bg-fill"
alias wpscale="feh --no-fehbg --bg-scale"
alias wpblack="feh --no-fehbg --bg-fill ~/personal/Pictures/wallpapers/black.jpg"
alias wpdefault="~/.fehbg"
alias ev="silent evince"
alias thu="silent thunar ."
alias linutil="curl -fsSL https://christitus.com/linux | sh"
alias cabalclean="rm -r dist-newstyle"
alias exp="thunar"
alias R="R --no-save --quiet"
alias battery_perc="upower -i /org/freedesktop/UPower/devices/battery_BAT1 | grep percentage"
alias cleanmail="sudo rm -f /var/mail/vic"
# Monitor
alias monitors="mons"
# nvidia
alias prime-run="__NV_PRIME_RENDER_OFFLOAD=1 __GLX_VENDOR_LIBRARY_NAME=nvidia"
alias nvidiaoff="sudo envycontrol -s integrated"
alias nvidiahybrid="sudo envycontrol -s hybrid"
# Shutdown/reboot
alias shutdown="sudo shutdown"
alias poweroff="sudo shutdown now"
alias off="sudo shutdown now"
alias reboot="sudo reboot"
alias suspend="systemctl suspend &"
# syncing with Onedrive
alias syncy="onedrive --sync"
alias syncoff="onedrive --sync && poweroff"
alias syncreboot="onedrive --sync && reboot"
# Gammastep (blue light filter)
alias night="gammastep -m randr -P -O"
alias nighty="gammastep -m randr -P -O 2800"
alias nightmax="gammastep -m randr -P -O 1000"
alias nightlight="gammastep -m randr -P -O 4100"
alias nightlighter="gammastep -m randr -P -O 5500"
alias nightoff="gammastep -m randr -P -O 6500"
# Dotnet
alias bld="dotnet msbuild"
alias rn="bin/Debug/net8.0/$(basename "$PWD")"
# Neovim
alias vim='nvim'
alias vi='nvim'
alias v='nvim'
alias im='nvim'
alias i='nvim'
alias sv='sudo nvim'
alias svi='sudo nvim'
alias svim='sudo nvim'
alias gvim="nvim --listen ~/.cache/nvim/godot.pipe ."
# Git
alias g="git"
alias gs="git status"
alias gp="git push"
alias gpo="git push origin"
alias gpom="git push origin master"
alias gpuom="git push -u origin master"
alias gpu="git pull --rebase"
alias ga="git add"
alias gaa="git add --all"
alias gc="git commit --verbose"
alias glo="git log --pretty=oneline"
# Git for my dotfiles
alias dotgit="git --git-dir=$HOME/Git/xxheyhey/dotfiles-xx/ --work-tree=$HOME"
alias d="dotgit"
alias ds="dotgit status"
alias dp="dotgit push"
alias dpom="dotgit push origin master"
alias dpu="dotgit pull --rebase"
alias da="dotgit add"
alias daa="dotgit add --all"
alias dc="dotgit commit --verbose"
alias dlo="dotgit log --pretty=oneline"
# Tmux
alias t="tmux"
alias ta="tmux attach"
alias tl="tmux ls"
alias tls="tmux ls"
alias tk="tmux kill-server"
# Anaconda
alias cona='eval "$(/home/vic/.local/anaconda3/bin/conda shell.zsh hook)"; conda activate'
alias cond="conda deactivate"
# My browser of choice
alias browser="google-chrome"
# Updating, upgrading and cleaning
alias upd="sudo apt update"
alias upg="sudo apt upgrade"
alias aptin="sudo apt install"
alias aptupg="apt list --upgradable"
alias clean="sudo apt autoremove -y"
# Neofetch
alias nf="neofetch"
alias neofetchlol="neofetch | lolcat"
alias nfl="neofetchlol"
# Starting Express app
alias express-start="DEBUG=$(basename $PWD):* npm start"
alias express-devstart="DEBUG=$(basename $PWD):* npm run devstart"
# Pandoc
alias mdtopdf="pandoc --from=markdown --to=pdf -o pdf.pdf"
alias mdtohtml="pandoc --from=markdown --to=html -o html.html"
# Markdown
alias md="glow"
