.config/nvim/lazy-lock.json
.config/casualrdh
.config/cef_user_data
.config/content_shell
.config/dconf
.config/enchant
.config/freerdp
.config/gedit
.config/GIMP
.config/glib-2.0
.config/go
.config/google-chrome
.config/libvirt
.config/menus
.config/obs-studio
.config/pulse
.config/qBittorrent
.config/QtProject.conf
.config/R
.config/rstudio
.config/Thunar
.config/vlc
.config/xfce4
.config/onedrive/refresh_token
.config/onedrive/items.sqlite3
.config/qimgv
.config/flameshot
.config/zsh/.zsh_history
.config/zsh/.zcompdump*
.config/Code
.config/fontforge
.config/thefuck
.config/balena-etcher
.config/rncbc.org
.config/easyeffects
.config/filezilla
